# Import Libraries

In [1]:
import mysql.connector as mysql
import os #because of the environment variables (user_MySQL and passwd_MySQL)

# Setting the environment variables (user_MySQL and passwd_MySQL)

In [2]:
user_MySQL = os.environ.get('MYSQL_USER')
passwd_MySQL = os.environ.get('MYSQL_PASSWORD')

# Connection

In [3]:
conn = mysql.connect(
                host = 'localhost',
                user = user_MySQL,
                passwd = passwd_MySQL,
                database = 'study_example'
                )

# Creating Table

## Creating Cursor

In [4]:
cur = conn.cursor()

## Creating Table

In [5]:
cur.execute('CREATE Table student (id INT AUTO_INCREMENT PRIMARY KEY,\
                                    name VARCHAR(100),\
                                    age SMALLINT,\
                                    email VARCHAR(120) UNIQUE NOT NULL,\
                                    interest VARCHAR(100))')

# Insert

## Option 01 Insert one value (string)

In [6]:
cur.execute('INSERT INTO student (name, age, email, interest) VALUES \
                    ("Jaime Lannister", 36, "jaime.lannister@got.com", "Data Science")')

## Option 02 Insert one value (variable)

In [7]:
query = 'INSERT INTO student (name, age, email, interest) VALUES (%s, %s, %s, %s)'
value = ("Jhon Snow", 27 ,"snowjhon@got.com", "Data Science")

In [8]:
cur.execute(query,value)

## Option 03 (Insert one by one - Iteration)

In [9]:
query = 'INSERT INTO student (name, age, email, interest) VALUES (%s, %s, %s, %s)'
values = [("Aria Stark", 15 ,"stark.aria@got.com", "Business Intelligence"),
         ("Sansa Stark", 23 ,"stark.sansa@got.com", "DBA"),
         ("Ned Stark", 42 ,"stark.ned@got.com", "Data Science"),
         ("Cersei Lannister", 34, "cersei.lannister@got.com", "Business Intelligence")]

In [10]:
for value in values:
    cur.execute(query,value)

## Option 04 (Bulk Insert)

In [11]:
query = 'INSERT INTO student (name, age, email, interest) VALUES (%s, %s, %s, %s)'
values = [("Daenerys Targaryen", 21 ,"targaryen.daenerys@got.com", "Data Science"),
         ("Robb Stark", 22 ,"stark.rob@got.com", "Business Intelligence"),
         ("Tywin Lannister", 23 ,"tywin.lannister@got.com", "DBA"),
         ("Jeor Mormont", 35, "jeor.mormont@got.com", "Business Intelligence")]

In [12]:
cur.executemany(query,values)

# Update

In [13]:
cur.execute('Update student SET email= "tywin.lannister@got.com" WHERE name="Tywin Lannister"')

# Delete

In [14]:
cur.execute('DELETE FROM student WHERE name = "Robb Stark"')

# Select

In [15]:
cur.execute('SELECT * FROM student')
students = cur.fetchall()

In [16]:
for student in students:
    print(student)

(1, 'Jaime Lannister', 36, 'jaime.lannister@got.com', 'Data Science')
(2, 'Jhon Snow', 27, 'snowjhon@got.com', 'Data Science')
(3, 'Aria Stark', 15, 'stark.aria@got.com', 'Business Intelligence')
(4, 'Sansa Stark', 23, 'stark.sansa@got.com', 'DBA')
(5, 'Ned Stark', 42, 'stark.ned@got.com', 'Data Science')
(6, 'Cersei Lannister', 34, 'cersei.lannister@got.com', 'Business Intelligence')
(7, 'Daenerys Targaryen', 21, 'targaryen.daenerys@got.com', 'Data Science')
(9, 'Tywin Lannister', 23, 'tywin.lannister@got.com', 'DBA')
(10, 'Jeor Mormont', 35, 'jeor.mormont@got.com', 'Business Intelligence')

In [17]:
cur.execute('SELECT * FROM student WHERE email = "stark.ned@got.com"')
student = cur.fetchone()
print(student)

(5, 'Ned Stark', 42, 'stark.ned@got.com', 'Data Science')

In [18]:
cur.execute("SELECT DISTINCT interest FROM student")
cur.fetchall()

[('Data Science',), ('Business Intelligence',), ('DBA',)]

# Upsert (Insert or Update)

In [19]:
query = 'INSERT INTO student (name, age, email, interest) VALUES (%s, %s, %s, %s)\
                ON DUPLICATE KEY UPDATE \
                        name = name, age = age, email = email, interest = interest'

values = [("Jaime Lannister", 36, "lannister.jaime@got.com", "Data Science"),
         ("Ned Stark", 42 ,"stark.ned@got.com", "Data Science"),
         ("Cersei Lannister", 34, "lannister.cersei@got.com", "Business Intelligence")]

In [20]:
lst_row_id = list()
for value in values:
    cur.execute(query,value)
    row_id = cur.lastrowid
    lst_row_id.append(row_id)
print(lst_row_id)

[11, 0, 13]

# Commit and Close Connection

In [21]:
conn.commit()

# Drop Table

In [22]:
cur.execute('DROP TABLE student')

# Close Connection

In [23]:
conn.close()